# Caches
__pycache__/
*.py[cod]
*.so

# Environnement Python
.env
.venv/
.Python

# Ignore contents of temporary directories, but keep the directories
uploads/*
!uploads/.gitkeep
temp_results/*
!temp_results/.gitkeep

*.mp4
*.avi
*.mov

# Fichiers de modèle (peuvent être très volumineux)
*.pt

# Logs
*.log


# Environnements virtuels - NE JAMAIS COMMIT
API_DEPLOYMENT/

# OS / IDE spécifiques
.DS_Store
.vscode/
.idea/
