# Caches
__pycache__/
*.py[cod]
*.so

# Environnements virtuels et dépendances
.env
.venv/
venv/
.Python

# Ignore contents of temporary directories, but keep the directories
uploads/*
!uploads/.gitkeep
temp_results/*
!temp_results/.gitkeep

*.mp4
*.avi
*.mov

# Fichiers de modèle (peuvent être très volumineux)
*.pt

# Logs
*.log

# OS / IDE spécifiques
.DS_Store
.vscode/
.idea/
